.footer {
    background-color: darken($primary-color, 80%);
    color: $off-white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7.6rem;

    &__wrapper {
        max-width: 90rem;
        margin: 0 auto;
        padding: 3rem 1rem;
        position: relative;

    }

    &__links {
        margin: 0 1.5rem;

    };

    &__credits {
        position: absolute;
        margin: 0 1.5rem;
        color: $off-white;
        top: 3rem;
        right: 0;

    }

}