.header {
    background-color: darken($primary-color, 80%);
    color: $off-white;
    
    &__main {
        max-width: 90rem;
        margin: 0 auto;
        padding: 1rem;

        &--title {
            margin: 1rem;

        }

        &--nav {
            margin: .5rem 1.5rem;

        }

        &--logout {
            margin: 1rem;

        }

    }
}